# ONLY MODIFY backend/*.env

PGUSER=postgres
PGPASSWORD=
PGDATABASE=monkey-sense
PGPORT=5432
PGHOST=localhost

# BigInt("0x" + crypto.randomBytes(32).toString("hex"), 16).toString()
AES_KEY=
AES_IV=

SERVER_HOST=ws://127.0.0.1:8081

NEXT_PUBLIC_CAPTCHA_SITE_KEY=6Lez17YqAAAAALVqY59kIadrV10W4BLZdzbN6HFf
CAPTCHA_SECRET_KEY=