@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #333;
    --foreground: #fff;
}

body {
    color: var(--foreground);
    background: var(--background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

div, h1, button, input {
    color: white;
    text-align: center;
    font-family: Calibri;
}

div {
    font-size: large;
}

#question {
    font-size: xx-large;
    min-height: 40px;
}

button {
    color: black;
    font-size: large;
}

#inputbox, .inputbox {
    color: black;
    font-size: x-large;
}

.flex-center {
    display: flex;
    justify-content: center;
    column-gap: 6px;
    white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.loading:after {
    display: inline-block;
    animation: ellipsis steps(4, end) 1200ms infinite;
    content: "";
    margin-left: 2px;
}

@keyframes ellipsis {
    0% { content: ""}
    25% { content: "."}
    50% { content: ".."}
    75% { content: "..."}
    100% { content: ""}
}

.loading-spinner {
    border: 4px solid #cdcdcd;
    border-top: 4px solid #3357cd;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}