@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fff;
    --foreground: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #333;
        --foreground: #fff;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

div, h1, button, input {
    color: white;
    text-align: center;
    font-family: Calibri;
}

div {
    font-size: large;
}

#question {
    font-size: xx-large;
    margin-bottom: 8px;
    min-height: 40px;
}

button {
    color: black;
    font-size: large;
}

#inputbox {
    color: black;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    column-gap: 6px;
    white-space: nowrap;
}